*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
DOCTYPE,html{
    overflow-x: hidden;
    overflow-y: hidden;
}

 .homePage{
   display: flex;
   position: relative;
  
 }
 .col{
    flex-basis: 50%;
    flex-wrap: wrap;
 }
 .col .studentImage{
width: 120%;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: contain;
height: 100%;
background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(images/student1.png);
 }

.form{
    display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(33,37,41,.05);
   height: 100vh;
   width: 100%;
   margin-left: 100px;
   
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo img{
   margin-left: 150px;
}
.login-box{
   display: flex;
    flex-direction: column;
    border-radius: 5px;
   height: 100vh;
    padding: 50px;
  justify-content: center;
   width: 70%;
   line-height: 23px;
    
}
.login-box h1{
    font-size: 24px;
    color: #1763D6;
    text-align: center;
    pointer-events: none;
   margin-bottom: 0;
   
   
}
.login-box h4{
    text-align: center;
    font-size: 16px;
    margin-top: 0%;
    color: rgba(0, 0, 0, 0.652);
}
.credential{
    position: relative;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.inputField{
    display: flex;
    width: 100%;
   align-items: center;
   justify-content: center;
   position: relative;
}
.inputField i{
 position: absolute;
z-index: 2;
left: 0;
padding: 50px;
color: grey;
font-size: 16px;
}
.credential .input{
    border: transparent;
    border-radius: 5px;
    margin: 10px;
    padding:  10px 50px;
    width: 80%;
}

.forgotRemember{
    position: absolute;
    display: flex;
    color: rgba(0, 0, 0, 0.652)
    
}

.forgotRemember a{
    margin-left:70px ;
    text-decoration: none;
    color: #1763D6;
    transition: all 0.2s ease; 
    font-size: 12px;

}
.forgotRemember a:hover{
    text-decoration: underline;
}
.remember{
    margin:0  10px;
    cursor: pointer;
    
}
.login{
    position: relative;
    background: rgb(23, 99, 214);
    color: white;
    display: block;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding:  10px ;
    border-radius: 20px;
    border-width: 1px;
    box-shadow: rgba(21, 94, 190,.3);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
   
}
.login:hover{
    background: rgb(23, 99, 214,.8);
}
.newAccount{
    margin-top: 30px;
    position: relative;
    background:transparent;
    color: #1763d6;
    display: block;
    align-items: center;
    width: 80%;
    margin: 20px;
    padding:  10px ;
    border-radius: 20px;
    border-width: 1px;
    box-shadow: rgba(21, 94, 190,.3);
    cursor: pointer;
    border: 2px solid rgb(23, 99, 214);
    transition: all 0.3s ease-in-out;
}
.accountExist{
    text-align: center;
    font-size: 12px;
}
.signin{
    text-decoration: none;
}