    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }
    DOCTYPE,html {
    overflow-x: hidden;
    overflow-y: hidden;
    }
    .header{
    position: fixed;
    background-color: #F2F2F2;
    width: 100vw;
    height: 11vh;
    z-index: 3;
    padding: 0 5px;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);
    }
    .header .logo img{
    width: 70px;
    cursor: pointer;
    margin-top: 3px;

    }
    .left{
    display: flex;
    height: 100%;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    }
    .right{
    display: flex;
    height: 100%;
    align-items: center;
    width: 150px;
    justify-content: space-between;
    }
    #toggle{
    font-size: 30px;
    color: #5AA7EE;
    cursor: pointer;

    }
    .line{
    color: #0000003b;
    font-weight: 20;
    width: 1px;
    display: none;
    }
    #user{
    display: none;
    }
    #user,#notificationBell{
    font-size: 20px;
    margin-right: 5px;
    color: black;
    cursor: pointer;
    justify-content: baseline;
    }
    .title h1{
    font-size: 26px;
    }
    .title,.profile{
    color: #5AA7EE;
    }
    .profile h2{
    font-size: 18px;
    font-weight: 200;
    margin-right: 15px;
    }
    .info{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    }
    .sidepanel a{
        text-decoration: none;
    }
    .sidepanel{
    background-color: #1763D6;
    width: 17vw;
    margin-top: 12vh;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    }
    .sidepanel i{
    margin-right: 10px;
    }
    .up{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-top: 30px;
    margin-left: -50px;

    }
    .up div{
    margin-top: 20px;
    }
    .dashboard,.proposalStatus,.proposalList,.settings,.profileIcon{
    color: white;
    display: flex;
    justify-content: baseline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    }
    .dashboard:hover,.profileIcon:hover,.proposalStatus:hover,.proposalList:hover,.settings:hover{
    color: black;
    }

    .mainscreen{
    height: 100%;
    width:85vw ;
    padding: 50px;
    background-color: #F2F2F2;
    margin-top: 12vh;
    margin-left: 17vw;
    transition: all .3s ease-in-out;
    }
    .mainscreen h1{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.774);
    }
    .mainscreen h3{
    color: #1763D6;
    }
    .mainscreen h2{
    color: #5AA7EE;
    }
    .mainscreen p{
        font-weight: 300;
    }
  
    .options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    }

    .status{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    }
    .counts{
    width: 100%;
    height: 30%;
    display: flex;
    }
    .counts div{
    width: 200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 5px;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgb(151, 148, 148);
    }
   
    .receivedNum,.pendingNum,.reviewedNum{
    font-size: 40px;
    font-weight: 500;
    }
    .list .details{
    height: 40px;
    width: 100%;
    margin: 20px 5px;
    padding:  20px 10px;
    border-radius: 5px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;  
    }
    @media screen and (max-device-width: 1024px) {
    .header{
    position: sticky;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    ;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);

    }
    .header .logo img{
    width: 60px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;

    }
    #toggle{
    font-size: 25px;
    color: #5AA7EE;
    cursor: pointer;

    }
    .line{
    display: none;
    }
    #user{
    display: none;
    }
    .title{
    width: 700px;
    text-align: center;
    }
    .title h1{
    font-size: 20px;
    font-weight: bold;

    }
    .sidepanel{
    display: sticky;     
    z-index: 3;
    height: 90vh;
    margin-top: 11vh;
    background-color: #1763D6;
    transition: all .3s ease-in-out;
    display: none;

    }
    .panel div{
    width: 20vw;
    background-color: #1763D6;
    justify-content: center;

    }
    .sidepanel.active{
    display: block;
    }

    .mainscreen{
    height: 100%;
    width:100vw;
    position: absolute;
    margin-top: 2vh;
    margin-left: 0;
    }
    .mainscreen.active{
    height: 100%;
    width:80vw;
    left: 20vw;
    position: absolute;
    margin-top: 2vh;
    margin-left: 0;
    }
    .mainscreen h3{
    margin-top: -20px;

    } 
    .project{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70vh;
    margin-right: 150px;
    }
    .projectContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    border-radius: 16px;
    margin: 15px;
    width: 300px;
    height: 150px;
    box-shadow: 5px 5px rgba(53, 49, 49, 0.159);
    background-color: #F5F5F5;
    cursor: pointer;
    }
    .view{
    position: absolute;
    display: flex;
    margin-left: 190px;
    margin-top: 30px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }
    .create{
    background-color: #5AA7EE;
    padding: 0 2px;
    font-size: 14px;
    color:white;
    width: 80px;
    height: 50px;
    align-items: center;
    border-radius: 40px;
    display: flex;
    box-shadow: 2px 2px rgba(53, 49, 49, 0.159);
    justify-content: center;
    cursor: pointer;


    } 
    }

    @media screen and (max-device-width: 640px) {
    .header{
    position: sticky;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    ;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);

    }
    .header .logo img{
    width: 50px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;

    }
    #toggle{
    font-size: 20px;
    color: #5AA7EE;
    cursor: pointer;

    }
    .line{
    display: none;
    }
    #user{
    display: none;
    }
    .title{
    width: 600px;
    text-align: center;
    }
    .title h1{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    }
    .sidepanel{
    display: flex;     
    z-index: 3;
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    background-color: #1763D6;
    border-bottom-left-radius: 100px;
    transition: all .3s ease-in-out;
    display: none;
    }
    .panel div{
    width: 100%;
    background-color: #1763D6;
    justify-content: center;

    }
    .sidepanel.active{
    display: block;
    }

    .mainscreen{
    height: 100%;
    width:100vw;
    position: absolute;
    margin-top: 2vh;
    margin-left: 0;
    }
    .mainscreen h3{
    margin-top: -20px;

    } 
    .project{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70vh;
    margin-right: 150px;
    }
    .projectContent{
    position: relative;
    margin-left: 10px;
    border-radius: 16px;
    margin: 15px;
    width: 200px;
    height: 150px;
    box-shadow: 5px 5px rgba(53, 49, 49, 0.159);
    background-color: #F5F5F5;
    cursor: pointer;
    }
    .view{
    position: absolute;
    display: flex;
    margin-left: 150px;
    margin-top: 30px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }
    .create{
    background-color: #5AA7EE;
    padding: 0 2px;
    font-size: 14px;
    color:white;
    width: 80px;
    height: 50px;
    align-items: center;
    border-radius: 40px;
    display: flex;
    box-shadow: 2px 2px rgba(53, 49, 49, 0.159);
    justify-content: center;
    cursor: pointer;


    } 
    }
    @media screen and (max-device-width: 480px){
    .header{
    position: sticky;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 3px;
    align-items: center;
    ;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);

    }
    .header .logo img{
    width: 50px;
    cursor: pointer;
    margin-top: 3px;


    }
    #toggle{
    font-size: 20px;
    color: #5AA7EE;
    cursor: pointer;


    }
    .line{
    display: none;
    }
    #user{
    display: none;
    }
    .title{
    width: 330px;
    text-align: center;
    }
    .title h1{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;

    }
    .profile{
    display: none;
    }
    .sidepanel{
    display: flex;     
    z-index: 3;
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    background-color: #1763D6;
    border-bottom-left-radius: 100px;
    transition: all .3s ease-in-out;
    display: none;
    }
    .panel div{
    width: 100%;
    background-color: #1763D6;
    justify-content: center;
    }
    .sidepanel.active{
    display: block;
    }

    .sidepanel i{
    margin-right: 0px;
    }
    .mainscreen{
    height: 100%;
    width:100vw;
    margin-top: 2vh;
    margin-left: 0;
    }
    .mainscreen h3{
    margin-top: -20px;

    } 
    .project{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 150px;
    margin-left: -40px;

    }
    .projectContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10px;
    border-radius: 16px;
    margin: 15px;
    width: 180px;
    height: 150px;
    box-shadow: 5px 5px rgba(53, 49, 49, 0.159);
    background-color: #F5F5F5;
    cursor: pointer;
    }
    .projectTitle{
    margin-left: 0;
    margin-top: 0;
    }
    .view{
    position: absolute;
    margin-top: 0;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    }
    .create{
    background-color: #5AA7EE;
    padding: 0 1px;
    font-size: 14px;
    color:white;
    width: 80px;
    height: 40px;
    align-items: center;
    border-radius: 40px;
    display: flex;
    box-shadow: 2px 2px rgba(53, 49, 49, 0.159);
    justify-content: center;
    cursor: pointer;


    } 

    }
    @media screen and(min-width:351px) {

    }
    @media screen and (min-device-width: 320px) and (max-width:350px)

    {
    .header{
    position: sticky;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    ;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);

    }
    .header .logo img{
    left: 0;
    z-index: 2;
    margin-left: 150px;
    width: 50px;
    cursor: pointer;
    margin-top: 3px;
    ;

    }
    #toggle{
    font-size: 20px;
    color: #5AA7EE;
    cursor: pointer;
    margin-left:-200px;


    }
    .line{
    display: none;
    }
    #user{
    display: none;
    }
    .title{
    width: 550px;
    text-align: center;
    display: none;
    }
    .title h1{
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;

    }
    .profile{
    display: none;
    }
    .sidepanel{
    display: flex;     
    z-index: 3;
    width: 100vw;
    height: 90vh;
    margin-top: 10vh;
    background-color: #1763D6;
    border-bottom-left-radius: 100px;
    transition: all .3s ease-in-out;
    display: none;
    }
    .panel div{
    width: 100%;
    background-color: #1763D6;
    justify-content: center;
    }
    .sidepanel.active{
    display: block;
    }

    .sidepanel i{
    margin-right: 0px;
    }
    .mainscreen{
    height: 100%;
    width:100vw;
    position: absolute;
    margin-top: 2vh;
    margin-left: 0;
    }
    .mainscreen h3{
    margin-top: -20px;

    } 
    .project{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 250px;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 50vh; height: 100vh;
    margin-left: -30px;
    }
    .projectContent{

    margin-left: 10px;
    border-radius: 16px;
    width: 100%;
    height: 150px;
    box-shadow: 5px 5px rgba(53, 49, 49, 0.159);
    background-color: #F5F5F5;
    cursor: pointer;
    }
    .view{
    position: absolute;
    display: flex;
    margin-left: 150px;
    margin-top: 30px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }
    .create{
    background-color: #5AA7EE;
    padding: 0 1px;
    font-size: 12px;
    color:white;
    width: 80px;
    height: 40px;
    align-items: center;
    border-radius: 40px;
    display: flex;
    box-shadow: 2px 2px rgba(53, 49, 49, 0.159);
    justify-content: center;
    cursor: pointer;


    } 
        
    }

