*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
DOCTYPE,html {
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-color: #F2F2F2;
}
.header{
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);   
}
.toggle{
    height: 100%;
    justify-content: center;
    display: flex;
    width: 15vw;
    margin-left: -20px;
    
}
.toggle img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
}
.toggle i{
    justify-content: center;
    font-size: 25px;
    line-height: 90px;
    margin-left: 30px;
    cursor: pointer;
}
.title{
    width: 70vw;
    color: #5AA7EE;
    pointer-events: none;
}
.user{
    width: 14vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
.user p{
    color: #5AA7EE;
    cursor: pointer;
}
.info{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 88vh;
    flex-direction: row;
}
.info{
    width: 100vw;
    height: 90vh;
   display: flex;
   flex-direction: row;   
}
.sidepanel{
    background-color: #1763D6;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}

.up{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-top: 30px;
    margin-left: -50px;
    
}
.up div{
    margin-top: 20px;
}
.dashboard,.proposalStatus,.proposalList,.settings{
    color: white;
    display: flex;
    justify-content: baseline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dashboard:hover,.proposalStatus:hover,.proposalList:hover,.settings:hover{
    color: black;
}

.bottom{
    height: 20vh;
    display: flex;
    align-items: center;
    margin-left: -110px;
    padding: 50px;
}
.mainscreen{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
}
.mainscreen h2{
    color: #5AA7EE;
}
.options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.status{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.counts{
    width: 100%;
    height: 30%;
    display: flex;
}
.counts div{
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px rgb(151, 148, 148);
}
.counts p{
    font-weight: 600;
}

.receivedNum,.pendingNum,.reviewedNum{
    font-size: 40px;
    font-weight: 700;
}
.list .details{
    height: 40px;
    width: 100%;
    margin: 20px 5px;
    padding:  20px 10px;
    border-radius: 5px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;  
}
 

