*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
DOCTYPE,html {
    overflow-x: hidden;
    overflow-y: hidden;
}
.header{
    position: fixed;
    background-color: #F2F2F2;
    width: 100vw;
    height: 12vh;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);
}
.header .logo img{
    width: 100px;
    cursor: pointer;
    margin-top: 3px;
  
}
#toggle{
    font-size: 30px;
    color: #5AA7EE;
    cursor: pointer;

}
.line{
    color: #0000003b;
    font-weight: 20;
    width: 1px;
}
#user,#notificationBell{
    font-size: 20px;
    margin-right: 5px;
    color: black;
    cursor: pointer;
    justify-content: baseline;
}
.title,.profile{
    color: #5AA7EE;
}
.profile h2{
    font-size: 18px;
    font-weight: 200;
    margin-right: 15px;
}
.info{
    width: 100vw;
    height: 90vh;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
}
.sidepanel{
    background-color: #1763D6;
    width: 17vw;
    margin-top: 12vh;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}
.sidepanel i{
    margin-right: 10px;
}
.up{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-top: 30px;
    margin-left: -50px;
    
}
.up div{
    margin-top: 20px;
}
.dashboard,.proposalStatus,.proposalList{
    color: white;
    display: flex;
    justify-content: baseline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dashboard:hover,.proposalStatus:hover,.proposalList:hover,.settings:hover{
    color: black;
}
.settings{
    display: flex;
    justify-content: baseline;
    cursor: pointer;
}

.bottom{
    height: 20vh;
    display: flex;
    align-items: center;
    margin-left: -110px;
    padding: 50px;
}
.bottom span{
    color: white;
    margin-left: 3px;
}
.mainscreen{
    height: 100%;
    width:85vw ;
    padding: 50px;
    background-color: #F2F2F2;
    margin-top: 12vh;
    margin-left: 17vw;
}
.mainscreen h3{
    color: #1763D6;
}
.mainscreen h2{
    color: #5AA7EE;
}
.project{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70vh;
    margin-right: 150px;
}

.projectContent{
    margin-left: 30px;
    border-radius: 16px;
    width: 400px;
    height: 150px;
    box-shadow: 5px 5px rgba(53, 49, 49, 0.159);
    background-color: #F5F5F5;
    cursor: pointer;
}
.projectTitle{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 18px;
    font-weight: 400;
}
.view{
   display: flex;
 margin-left: 350px;
   margin-top: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.create{
    position: relative;
    margin-left: 925px;
    margin-top: -90px;
   background-color: #F5F5F5;
   width: 100px;
   height: 50px;
   align-items: center;
   border-radius: 50px;
   display: flex;
   box-shadow: 5px 5px rgba(53, 49, 49, 0.159);
   justify-content: center;
   cursor: pointer;
   
   
}
