*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
DOCTYPE,html {
    overflow-x: hidden;
    overflow-y: hidden;
}
body{
    background-color: #F2F2F2;
}
.header{
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);   
}
.toggle{
    height: 100%;
    justify-content: center;
    display: flex;
    width: 15vw;
    margin-left: -20px;
    
}
.toggle img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
}
.toggle i{
    justify-content: center;
    font-size: 25px;
    line-height: 90px;
    margin-left: 30px;
    cursor: pointer;
}
.title{
    width: 70vw;
    color: #5AA7EE;
    pointer-events: none;
}
.user{
    width: 14vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
.user p{
    color: #5AA7EE;
    cursor: pointer;
}
.info{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 88vh;
    flex-direction: row;
}
.info{
    width: 100vw;
    height: 90vh;
   display: flex;
   flex-direction: row;   
}
.sidepanel{
    background-color: #1763D6;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

}

.up{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-top: 30px;
    margin-left: -50px;
    
}
.up div{
    margin-top: 20px;
}
.dashboard,.proposalStatus,.proposalList,.settings{
    color: white;
    display: flex;
    justify-content: baseline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dashboard:hover,.proposalStatus:hover,.proposalList:hover,.settings:hover{
    color: black;
}

.bottom{
    height: 20vh;
    display: flex;
    align-items: center;
    margin-left: -110px;
    padding: 50px;
}
.mainscreen{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
}
.mainscreen h2{
    color: #5AA7EE;
}
.options p{
    margin: 10px;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    justify-content: baseline;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
    opacity: .5;

}
.options p iconify-icon{
    margin: 0 10px;
}
.options p:hover{
    opacity: 1;
}
.options p.active{
    color: black;
    opacity: 1;
}
.show{
    width: 400px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px rgba(177, 173, 173, 0.568);
    border-radius: 10px;
}
.profileImage{
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 2px 2px rgba(177, 173, 173, 0.568);
    border-radius: 50%;
    text-align: center;
    margin-left: 132px;
    margin-bottom: 20px;
    background-color: rgba(177, 173, 173, 0.568);
}
.profileImage .icon{
    font-size: 90px;
    opacity: .2;
}

.showcase{
    height: 30px;
    width: 100%;
    border-bottom: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 5px;
    

}
.details label{
    padding-left: 10px;
    color: black;
    font-size: 14px;
}
.details p input.showcase{
    background-color: yellow;
    height: 100px;
    position: relative;
}
.save{
    width: 100%;
    background-color: #1763D6;
    color: white;
    padding: 20px;
    margin-top: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.save:hover{
    opacity: .9;

}

