*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
DOCTYPE,html {
    overflow-x: hidden;
    overflow-y: hidden;
}
.header{
    position: relative;
    width: 100vw;
    height: 12vh;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);
}
.header .logo img{
    width: 100px;
    cursor: pointer;
  
}
body{
    background-color: #F2F2F2;
}
#toggle{
    font-size: 30px;
    color: #5AA7EE;
    cursor: pointer;

}
.line{
    color: #0000003b;
    font-weight: 20;
    width: 1px;
}
#user,#notificationBell{
    font-size: 20px;
    margin-right: 5px;
    color: black;
    cursor: pointer;
    justify-content: baseline;
}
.title,.profile{
    color: #5AA7EE;
}
.title h1{
    font-size: 30px;
}
.profile h2{
    font-size: 18px;
    font-weight: 200;
    margin-right: 15px;
}
.info{
    width: 100vw;
    height: 90vh;
   display: flex;
   flex-direction: row;
   
}
.sidepanel{
    background-color: #1763D6;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.sidepanel i{
    margin-right: 10px;
}
.up{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-top: 30px;
    margin-left: -50px;
    
}
.up div{
    margin-top: 20px;
}
.dashboard,.proposalStatus,.proposalList{
    color: white;
    display: flex;
    justify-content: baseline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dashboard:hover,.proposalStatus:hover,.proposalList:hover,.settings:hover{
    color: black;
}
.settings{
    display: flex;
    justify-content: baseline;
    cursor: pointer;
}

.bottom{
    height: 20vh;
    display: flex;
    align-items: center;
    margin-left: -110px;
    padding: 50px;
}
.bottom span{
    color: white;
    margin-left: 3px;
}
.mainscreen{
    height: 100%;
    width:85vw ;
    padding: 50px;
}
.mainscreen h3{
    color: #1763D6;
}
.mainscreen h2{
    color: #5AA7EE;
}
.profile-top{
width: 100%;
padding: 0px 10px;
height: 120px;
display: flex;
justify-content: space-between;
}
.profileImage{
    margin-top: 10px;
    display: flex;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: 110px;
    background-color:rgba(0,0,0,.2) ;
    padding: 5px;
}
.profileImage i{
 font-size: 70px;
 opacity: .2;
    

}
.header i{
    opacity: .2; 
}
.editIcon{
    margin-top: 100px;
    font-size: 16px;
    cursor: pointer;
}
.profileDetails{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding: 0px 10px;
}
.userInfo{
    width: 70%;
}
.status{
    margin-top: 30px;
}
#studentStatus{
    padding: 8px;
    background-color: #1763D6;
    pointer-events: none;
    border-radius: 35px;
    color: #F2F2F2;
    
}
.proposalStats{
    margin-top: 30px;
    display: flex;
    width: 100%;
    padding: 20px;
    height: 300px;
    justify-content: space-around;
}
.proposalStats div{
    width: 200px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #5AA7EE;
}