*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
DOCTYPE,html {
    
    overflow-x: hidden;
}
body{
    background-color: #F2F2F2;
}
.header{
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 12vh;
    display: flex;
    background-color: #1763D6;
    justify-content: center;
    color: white;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 5px rgba(209, 202, 202, 0.262);   
}
.toggle{
    height: 100%;
    justify-content: center;
    display: flex;
    width: 15vw;
    margin-left: -20px;
    
}
.toggle img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-right: 20px;
    cursor: pointer;
    z-index: 10;
}
.toggle i{
    justify-content: center;
    font-size: 25px;
    line-height: 90px;
    margin-left: 30px;
    cursor: pointer;
}
.title{
    width: 70vw;
    color: #F2F2F2;
    pointer-events: none;
}
.user{
    width: 14vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}
.user p{
    color: #F2F2F2;
    cursor: pointer;
}
.info{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 88vh;
    flex-direction: row;
}
.info{
    width: 100vw;
    height: 90vh;
   display: flex;
   flex-direction: row;   
}
.sidepanel{
    background-color: #1763D6;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    z-index: 2;
    position: fixed;
    margin-top: 12vh;

}

.up{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-top: 30px;    
}
.up div{
    margin-top: 20px;
}
.up .settings{
    margin-top: 350px;
}
.dashboard,.proposalStatus,.proposalList,.settings{
    color: white;
    display: flex;
    justify-content: baseline;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.dashboard:hover,.proposalStatus:hover,.proposalList:hover,.settings:hover{
    color: black;
}

.sidepanel .bottom{
    height: 20vh;
    display: flex;
    align-items: center;
    margin-left: -50px;
    margin-top: -3000px;
}
.mainscreen{
    width: 1350px;
    min-height: 100vh;
    margin: 5px;
    margin-top: 14vh;
    margin-left: 17vw;
}
.top{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top h5{
    font-size: 20px;
    color: #5AA7EE;
    margin-top: -25px;
    margin-bottom: -25px;
}
.mainscreen .logo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-attachment:inherit;
    display: flex;
    object-fit: cover;
    font-size: 20px;
    background-image: url(images/Mmust\ logo.png);
    align-items: center;
    justify-content: center;
}
.questions p{
    font-size: 14px;
    margin: 10px 0;
}
textarea{
    resize: none;
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(209, 202, 202, 0.862);
}

.btn{
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 40px;
    justify-content: space-around;
}
.btn button{
    width: 80px;
    border: none;
    background-color: #1763D6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn button:hover{
    opacity: .8;
}