{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="homePage">
        <div class="col">
            
            <div class="studentImage"> </div>
        </div>
        <div class="col">
            
        <form  class="form" method="POST">
            <div class = login-box>
                <div class="logo">
                    <img src="{% static 'images/Mmust logo.png' %}" alt="" >
                </div>
               
                <h1>Login</h1>
                <h4>Sign in to your account</h4>
                <div  class="credential">
                    <div class="inputField">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" placeholder="Username" class="input" required>
                    </div>
                   <div class="inputField">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" placeholder="Password"  class="input" required>
                   
                   </div>
                   <div class="inputField"><button class="login">Login</button></div>
                   <div class="inputField">
                        <div class="forgotRemember">
                            <input type="checkbox" name="Remember me" class="remember">Remember me
                            
                            <div class="forgot">
                            <a href="">forgot password?</a>
                            </div>
                        
                        </div>
                    
                   </div>
                   <div class="inputField">
                    <button class="newAccount">Register New Account</button>
                </div>
                 
                    
                 
                </div>
                
            </div>
        </form>
      
        </div>

    </div>
   
</body>
</html>